/* exeter fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
    const [psychologicalData, setPsychologicalData] = useState(null);
*/

body {
  /* font-family: "Montserrat", sans-serif; */
  font-style: normal;
  font-family: Poppins, sans-serif;
  /* font-weight: 100; */
}

html,
body {
  background-color: #f8f8f8;
  /* font-family: "Montserrat", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* 
old website - https://mental-health-website-eight.vercel.app/
api docs - https://docs.google.com/document/d/1HlnBxXLWl6UzbGsJU7kcOhKfStoz1S00kx1sdjJ8ApU/edit?usp=sharing
backend - https://mindzee-backend.onrender.com
*/

/* 

<div className="profile-info">
<div className="profile-info-top">
  <div className="info">
    <p className="name">{data?.name}</p>
    <p>{data?.year_of_experience}+ year of experience</p>
    <p>{data?.email}</p>
    <p>{data?.language}</p>
  </div>
  <div className="info">
    <p>Individual sessions taken: {data?.number_of_individual_sessions}</p>
    <p> Webinar sessions taken: {data?.number_of_webinar_sessions}</p>
    <p> Individual sessions price:<span className="price">{data?.individual_session_price} ₹</span></p>
    <p> Webinar sessions price:<span className="price">{data?.webinar_session_price} ₹</span></p>
  </div>
</div>
</div>


*/
